$max-styling-count: 30; // 스타일을 계산할 최대 문장 성분 개수

// 절&구
$constituent-margin: 0.15rem; // 문장 성분 좌우 여백
$constituent-label-y-pos: 1.4rem; // 문장 성분 라벨의 y축 위치
$constituent-height: 2.2rem; // 문장 성분 전체 영역 높이
$constituent-initial-pos-factor: 0.48; // 첫번째 문장 성분과 글자 사이 간격 (낮을수록 간격 벌어짐)
$constituent-dashed-border: 2px dashed;
$constituent-dashed-border-start: 10px; // 점선 상단 길이 (글자 상단을 기준으로 높을수록 짧아짐)

// 토큰
$token-spacing: 2rem; // 토큰과 토큰 사이의 간격
$token-top: 2.5rem; // 토큰 상단 여백
$token-initial-pos-factor: 1; // 첫번째 토큰과 글자 사이 간격 (낮을수록 간격 벌어짐)

@for $i from 1 through $max-styling-count {
  $offset: $constituent-height * ($i - $constituent-initial-pos-factor);

  .constituent.clause[data-clause-lv='#{$i}'],
  .constituent.phrase[data-phrase-lv='#{$i}'] {
    margin: 0 $constituent-margin;
    padding: 0 $constituent-margin $offset;

    // 문장 성분 라벨
    &:after {
      top: $offset + $constituent-label-y-pos;
    }

    // 좌/우/하단 점선
    &:before {
      content: '';
      position: absolute;
      top: $constituent-dashed-border-start;
      bottom: 0;
      right: 0;
      left: 0;
      border-left: $constituent-dashed-border;
      border-right: $constituent-dashed-border;
      border-bottom: $constituent-dashed-border;
    }
  }
}

@for $i from 1 through $max-styling-count {
  $offset: $token-spacing * ($i - $token-initial-pos-factor);

  .constituent.token[data-token-lv='#{$i}'] {
    // 문장 성분 라벨
    &:after {
      top: $token-top + $offset;
    }
  }
}

html[data-theme='light'] {
  .constituent:after {
    background-color: var(--chakra-colors-gray-100);
  }
}

html[data-theme='dark'] {
  .constituent:after {
    background-color: var(--chakra-colors-gray-900);
  }
}

.constituent {
  position: relative;

  // 문장 성분 라벨
  &:after {
    position: absolute;
    width: fit-content;
    left: 50%;
    padding: 0 0.5rem 0.15rem 0.5rem;
    transform: translateX(-50%);
    border-radius: 0.5rem;

    font-size: 1rem;
    font-style: italic;
    content: attr(data-constituent);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
