$constituent-margin: 0.2rem; // 절&구 좌우 여백
$constituent-top-base: 1.9rem; // 절&구 이름과 상단 점선 사이의 간격
$constituent-offset: 2rem; // 절&구 전체 영역 높이
$token-top-base: 2.5rem; // 토큰 상단 여백
$token-offset: 2rem; // 각 토큰 사이의 간격

@for $i from 1 through 30 {
  $offset: $constituent-offset * ($i - 0.5);

  .constituent.clause[data-clause-lv='#{$i}'],
  .constituent.phrase[data-phrase-lv='#{$i}'] {
    margin: 0 $constituent-margin;
    padding: 0 $constituent-margin $constituent-margin + $offset;

    // 문장 성분 이름
    &:after {
      top: $constituent-margin + $constituent-top-base + $offset;
    }

    // 좌우 점선
    &:before {
      content: '';
      position: absolute;
      top: 15px;
      bottom: 0;
      right: 0;
      left: 0;
      border-left: 2px dashed;
      border-right: 2px dashed;
    }
  }
}

@for $i from 1 through 30 {
  $offset: $token-offset * ($i - 0.8);

  // 문장 성분 영역
  .constituent.token[data-token-lv='#{$i}']:after {
    top: $token-top-base + $offset;
  }
}

.constituent {
  position: relative;

  // 문장 성분 이름
  &:after {
    position: absolute;
    width: fit-content;
    left: 50%;
    padding: 0 0.5rem 0.15rem 0.5rem;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 0.5rem;

    font-size: 1rem;
    font-style: italic;
    content: attr(data-constituent);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &.clause,
  &.phrase {
    border-bottom: dashed 2px;
  }
}
