name: Qodana
# Qodana Community 라이선스에선 JS/TS 포함안돼서 비활성
# https://www.jetbrains.com/help/qodana/pricing.html#license-comparison-matrix
#on:
#  workflow_dispatch:
#  pull_request:
#  push:
#    branches:
#      - main

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2022.3.4
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
